[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "unicefData"]
	path = unicefData
	url = https://github.com/unicef-drp/unicefdata
